:root {
  --text-color: #272044;
}

body {
  background-color: var(--text-color);
  color: 272044;
  font-family: "Poppins";
  margin: 0;
}

.section {
  margin: 0 auto;
  max-width: 1400px;
}

.wrap-center {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.6),
      rgba(39, 32, 68, 0.6)
    ),
    url("/media/lisbon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  text-align: center;
  padding: 200px 0;
}

header h2 {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 5px;
  line-height: 36px;
  margin-bottom: 0;
  text-transform: uppercase;
}

header h1 {
  font-size: 96px;
  line-height: 144px;
  margin-top: 0;
  margin-bottom: 0;
}

header p {
  font-size: 40px;
  font-weight: 400;
  line-height: 60px;
  margin-top: 0;
}

header a {
  background: white;
  border: 0.5px solid var(--text-color);
  color: var(--text-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 21px;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
}

main {
  background: white;
}

.grid {
  grid-gap: 60px;
  padding: 100px;
}

.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 64px;
}

.image-responsive {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.section-subtitle {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 5px;
  margin: 0;
  opacity: 30%;
  text-transform: uppercase;
}

.section-title {
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

.section-content {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  opacity: 70%;
}

.grid-3-col {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.95),
      rgba(39, 32, 68, 0.95)
    ),
    url("/media/lisbon-footer.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

.box {
  color: white;
}

h4 {
  font-size: 20px;
  font-weight: 700;
}

ul {
  padding: 0px;
  list-style: none;
}

li a {
  color: #f5f5f5;
  opacity: 70%;
  font-size: 16px;
  line-height: 1.5;
}

.box p {
  font-size: 16px;
  line-height: 1.5;
  opacity: 70%;
}

@media (max-width: 960px) {
  header h2 {
    font-size: 18px;
    line-height: 24px;
  }

  header h1 {
    font-size: 50px;
    line-height: 70px;
  }

  header p {
    font-size: 24px;
    line-height: 40px;
  }

  header a {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 30px;
    padding: 50px;
  }
}
